<style>
.home {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html,
body {
    width: 100%;
    height: 100%;
}
</style>
<div ng-cloak class="home">
    <div style="padding-top: 130px; padding-bottom: 300px">
        <h1 style="text-align: center; color: #f6c3b3; font-size: 45px; text-shadow: -2px -2px #0d2e6e">Tìm kiếm thông tin</h1>
        <div class="container" style="height: 45px; width: 50%;">
            <form name="searchForm" class="form-inline">
                <div class="input-group pull-right">
                    <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="">
                    <span class="input-group-btn width-min">
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                    <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                    </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
